.admin-card {
  background-color: #222121;
  padding: 20px;
  border-radius: 8px;
  color: #8fbdef;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  min-height: 1100px;  /* Set a minimum height for better visuals */
}

.card-title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.bars {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.bar {
  display: flex;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 1.1rem;
  transition: background-color 0.3s;
}

.bar:hover {
  background-color: #0056b3;
}

/* Active tab style */
.bar.active {
  background-color: #007bff;  /* Highlight active tab */
}

.content {
  text-align: center;
  color: white;
  font-size: 1.2rem;
}